* {
    font-family: cursive;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
}
.empty-area {
    /* border: 1px solid gray; */
    height: 200px;
    overflow-y: scroll;
    /* background-color: white; */
}
input::placeholder {
    padding-right: 30px;
    padding-left: 14px;
}
.form {
    /* background-color: wheat; */
    background-image: url(./img/images.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
input:focus {
    color: black;
}
@media screen and (max-width:545px){
    #table-number {
        display: flex;
    }
}